<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Commyproject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.permission.RequestPermissionAct"
            android:exported="false" />
        <activity
            android:name=".activities.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.intro.IntroAct"
            android:exported="true">

        </activity>
        <activity
            android:name=".activities.recyclebin.RecycleBinAct"
            android:exported="false" />
        <activity
            android:name=".activities.profile.ProfileAct"
            android:exported="false" />
        <activity
            android:name=".activities.user.changepass.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.user.fogetpass.FogetPasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.user.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:exported="true" >

        </activity>
        <activity
            android:name=".activities.user.login.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.home.MainActivity"
            android:exported="true" />
    </application>

</manifest>